<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://cdnn21.img.ria.ru/images/07e5/09/1b/1751949030_0:115:3232:1933_1920x0_80_0_0_2a7e3e8f648bd91f65451264b93ef86f.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
